<div class="catalogue-intro catalogue-intro-comprendre">

  <div class="catalogue-intro-label">
    COMPRENDRE
  </div>

  <div class="catalogue-intro-content">

    <p>
La cybersécurité fait appel à de nombreuses notions, à des métiers et à des concepts qui peuvent parfois sembler abstraits. Cette rubrique présente les notions nécessaires pour comprendre les démarches de cybersécurité, particulièrement dans les environnements industriels.
    </p>

    <p>
L'objectif n'est pas de constituer un cours complet de cybersécurité, mais de donner les **repères nécessaires pour comprendre les référentiels, les méthodes et les pratiques** présentés sur CyberRepères.
    </p>

  </div>

</div>
